body{
    line-height: 1;
    color: #464646;
    font-family:Raleway;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

p{
    font-size: 14px;
    font-weight: 400;
}

h1,h2{
    font-size: 22px;
    font-weight: 700;
}

h3{
    font-weight: 700;
}

/*sección header*/

header{
    padding: 16px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between; 
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img{
    height: 18px;
}

.menu-list{
    display: none;
}

.menu-list li a{
    color: #464646;
}

.menu-list-item-c a{
    color: #464646;
}

.menu-list-item-c a:hover{
    border-bottom: 1px solid #464646
}

/*sección descripción*/

.descripcion{
    padding: 16px;
    display: flex;
    flex-direction:column-reverse; 
    gap: 20px;  
}

.descripcion__contenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.descripcion__parrafo{
    letter-spacing:1px;
    text-wrap:balance;
}

.descripcion__link{
    display: flex;
    gap:20px;
    font-size: 14px;
    font-weight:600;
}
.descripcion__link a{
    color:#464646;
}
.descripcion__link a:hover{
    border-bottom: 1px solid #464646;
}

.descripcion__img{
    border-radius:50%;
    width: 150px;
}

/*sección sobre mí*/

#sobre__mi{
    width: 100%;
    background-color:#EAF2FD;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sobremi__Parrafo{
    letter-spacing: 1px;
}

.sobremi__img{
    height: 40px;
}

/*sección skills y hobbies*/

#skills, #hobbies{
    margin:16px;
}

#skills img , #hobbies img{
    width: 25px;
    height: 25px;
}

.skills__titulo, .hobbies__titulo{
    text-align: center;
}

.skills__lista , .hobbies__lista{ 
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 30px;
    
}
    
.skills__item, .hobbies__item{
    width: 150px;
    height: 120px;
    box-shadow: 0px 0px 20px #0006;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items:start;
    gap: 8px;
    padding:30px; 
}

/*sección formación académica*/

.formacion__titulo{
    text-align: center;
    margin-top: 20px;
}

.formacion__contenedor{
    margin-top: 40px;
}

.formacion__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 330px;
    height: 150px;
    margin-top: 30px;
    background:radial-gradient(  white,#EAF2FD)
}

.formacion__subtitulo{
    font-weight: 700;
}

/*sección proyectos*/

#proyectos{
    padding: 16px;
    display: flex;
    flex-direction: column;
}

#proyectos h2 {
    margin-top: 20px;
    text-align: center;
}

.proyecto{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 60px;
}

#proyectos img{
    width: 330px;
    height: 200px;
    border: 1px solid gray;
}

.proyecto__texto{
    display:flex;
    flex-direction:column;
    gap: 8px;
}

.btn__contenedor{
    text-align: left;
    display: flex;
    gap: 16px;
    margin-top: 15px;
}

.btn__demo , .btn__repositorio{
    width: 108px;
    height: 40px;
    font-weight: 600;
}

.btn__repositorio{
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
}
.btn__demo{
    color: #EAF2FD;
    background-color: #2a7ae4;
    border: none;
}

/*sección contacto*/

#contacto{
    background-color:#EAF2FD;
    width: 100%;
    padding-bottom: 35px;
}

#contacto img {
    display: none;
}

#contacto h2{
    margin: 10px 0 ;
}

.contacto__texto{
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: flex-start;
}

form{
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
    padding: 0 32px;
    
}
textarea ,form input:not(:nth-of-type(4)){
    color: #464646;
    font-weight: bolder;
    background-color: #FFFFFF;
    width: 100%;
    margin: 16px;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 8px 8px 0 0;
    border: none;
    border-bottom: 1px solid #464646;
    
}

input:hover{
    cursor: pointer;
}

textarea{
    min-width: 100%;
    min-height: 102px;
    font-family: Raleway;
    resize: none;
}

.contacto__btn{
    width: 133px;
    height: 40px;
    background-color: #2a7ae4;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
}

/*seccion footer*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 100px;
    text-align: center;
}








@media (min-width:702px){

    p{
        font-size: 16px;
    }

    /*seccion header*/

    header{
        padding: 32px;
    }
    .menu-list{
        gap: 12px;
    }

    /*seccion descripcion*/
    
    .descripcion{
        padding: 32px;
        flex-direction:row;
    }    

    .descripcion__link{
        font-size: 16px;
        font-weight: 500; 
    }

    .descripcion__img{
        width: 200px;
        display: flex;
        margin-top: 5px;
    }

    /*seccion sobre mi*/
    
    #sobre__mi{
        padding: 32px;
    }

    .sobremi__img{
        height: 52px;
    }

    /*seccion skills y hobbies*/

    #skills, #hobbies{
        padding: 0 32px ;
    }
    
    .skills__lista, .hobbies__lista{ 
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        column-gap: 10px;
    }

    .skills__item, .hobbies__item{
        width: 200px;
        height: 130px; 
    }
    #skills img , #hobbies img{
        width: 30px;
        height: 30px;
    }
    /* seccion academica*/

    .formacion__lista{
        width: 350px;
        height: 150px;
    }
    /*sección proyectos*/

    #proyectos img {
        width: 500px;
        height: 300px;
    }
}



@media (min-width:1024px){
    
    /*seccion header*/

    header{
        padding: 64px;
    }

    .logo{
        font-size: 16px;
    }

    .menu-list{
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: 500;
    }

    .menu-list-item a:hover{
        border-bottom: 1px solid #464646;
    }

    .menu-title{
        font-weight: 500;
    }

    .menu-list-item-c{
        display: none;
    }
    
    /*descripcion*/

    .descripcion{
        padding: 64px;
    }

    .descripcion__titulo{
        font-size: 52px;
    }

    .descripcion__parrafo{
        font-size: 25px;
    }

    .descripcion__img{
        width: 300px;
        margin-top: 50px;
    }

    #sobre__mi{
        padding: 30px 64px;
    }

    .sobremi__titulo{
        font-size: 32px;
        font-weight: 700;
    }

    .sobremi__Parrafo{
        font-size: 16px;
        padding-right: 40%;
    }

    /*seccion skills y hobbies*/

    #skills, #hobbies{
        padding: 64px;
    }
    
    .skills__titulo, .hobbies__titulo{
        font-size: 32px;
    }

    .skills__lista, .hobbies__lista{ 
        display:flex;
        flex-direction: row;
        column-gap: 15px;
    }

    .skills__item, .hobbies__item{
        width: 140px;
        height: 120px;
        padding: 15px;
    }

    /*seccion formacion*/

    .formacion__titulo{
        font-size: 32px;
    }

    .formacion__contenedor{
        display: flex;
        gap: 20px;
    }

    .formacion__lista{
        width: 290px;
        height: 150px;   
    }

    .formacion__subtitulo{
        font-size: 22px;
    }

    /*sección proyectos*/

    #proyectos{
        margin: 64px;
    }
    
    #proyectos h2 {
        font-size: 32px;
    }

    .proyecto__encriptar , .proyecto__barberia{
        flex-direction: row;
        justify-content: center;
    }

    .proyecto__numero , .proyecto__sonidos{
        flex-direction: row-reverse;
    }
    
    #proyectos img {
        width: 630px;
        height: 350px;
        box-shadow: 0px 0px 10px #0006;
    }

    .sonido , .numero_secreto{
        text-align: right;
    }

    .contenedor__text__btn{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content:center;
        align-items: flex-end;
    }

    
    .proyecto__texto h3{
        font-size: 22px;
    }

    .proyecto__texto p {
        font-size: 16px;
    }

    /*sección contacto*/

    #contacto img {
        display: flex;
        Width:300px;
        height:593px;
        align-self: center;
    }
    #contacto h2{
        font-size: 32px;
    }

    #contacto{
        padding: 64px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    form{
        gap: 1px;
    }

    textarea{
        max-height: 150px;
    }

   .contacto__btn{
    margin-right: 500px;
   }

}



